*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: inherit;
  color: inherit;
}
.header_inner{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  a{
    display: flex;
    align-items: center;
    font-size: 35px;
    color: rgb(233, 0, 0);
    h1{
      font-size: 20px;
      color: #000;
    }
  }
  .search_wrap{
    form{
      display: flex;
    }
    input{
      min-width: 350px;
      border: 1px solid #c6c6c6;
      height: 40px;
      padding: 0 10px;
      border-radius: 15px 0 0 15px;
      border-right: none;
    }
    button{
      border: 1px solid #c6c6c6;
      border-radius: 0 15px 15px 0;
      line-height: 33px;
      width: 70px;
      font-size: 25px;
      padding: 5px 0 0 0;
    }
  }
}
.thumbnail_wrap{
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: end;
  gap: 20px;
  .thumbnail{
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 25px;
    overflow: hidden;
  }
  .thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 
}